* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--red);
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: none;
}

body .headerBG {
  /* width: 100px;
  height: 100px;
  position: absolute;
  background-color: blue;
  background-image: url(../img/headerbg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  z-index: -9999;
  filter: drop-shadow(0 0 10px rgba(4, 0, 37, 0.5)); */

  height: 100vh;
  background-color: blue;
  width: 500px;
}

body .footerBG {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(../img/footerbg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  z-index: -9999;
  filter: drop-shadow(0 0 10px rgba(4, 0, 37, 0.25));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--pink);
  background-clip: content-box;
  border: 2.5px solid transparent;
  border-radius: 50px;
} 

::-webkit-scrollbar-thumb:hover {
  background: var(--red);
  background-clip: content-box;
}

.bgLoad {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 100px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px dashed #bdd3c0;
  animation: dede 0.8s linear infinite;
}

@keyframes dede {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

body.swal2-shown > [aria-hidden="true"] {
  transition: .2s filter;
  filter: blur(5px);
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
  color: white;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
  color: white;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
  color: white;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
  color: white;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
  color: white;
}